<div class="jumbotron">
  <h2>Hiptime! Work Allocation Tracker.</h2>
  <br>
  <h4>Designed especially for Byjuites!</h4>
  <br>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger" %>
</div>
